# Ketergantungan (Dependencies)
# Folder ini dibuat ulang setiap kali 'npm install' dijalankan, jadi tidak perlu diunggah.
/node_modules

# File build
# Folder ini berisi hasil akhir dari 'npm run build' dan dibuat ulang setiap kali deploy.
/build

# Log dan file debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# File environment
# Berisi kunci API dan data sensitif lainnya.
# Data ini harus disimpan di Environment Variables Vercel, bukan di kode.
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# File sistem operasi
.DS_Store
Thumbs.db

# File editor/IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?